@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono:wght@400;700&display=swap');
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 1.6rem/1.5 'Roboto Mono', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.btn {
  position: relative;
  display: inline-block;
  padding: 0.6em 1em;
  background: rgb(40, 44, 52);
  color: #fff;
  letter-spacing: -0.08rem;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 2;
}
.btn::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(70, 74, 82);
  transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  clip-path: circle(0% at left bottom);
  -webkit-clip-path: circle(0% at left bottom);
  z-index: -1;
}
.btn:hover::before {
  clip-path: circle(100% at left bottom);
  -webkit-clip-path: circle(100% at left bottom);
}
.title-heading {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 5rem;
  color: #fff;
}
.hidden {
  visibility: hidden;
  height: 0;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
}
header {
  display: none;
}
aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  padding: 2.5em 0;
  transition: all 0.5s ease-in-out;
  z-index: 1000;
}
aside.sticky {
  padding: 1.75em;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  background: #4169e1;
  color: #282c34;
}
aside.sticky a {
  color: #fff;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 0.9;
  letter-spacing: -0.05rem;
  color: royalblue;
  text-align: left;
}
.nav-links {
  display: flex;
}
.nav-links li {
  display: inline-block;
  margin-left: 4rem;
}
.nav-links a {
  color: #fff;
  font-weight: 500;
  transition: opacity 250ms ease-in;
}
.nav-links li:hover a {
  opacity: 0.8;
}
.introduction {
  text-align: center;
  padding: 3em;
  z-index: 100;
}
.content {
  max-width: 70rem;
}
.content h1 {
  font-size: 3rem;
  color: #fff;
}
.content h5 {
  font-weight: 400;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.7);
}
.cta {
  padding-top: 1em;
  display: inline-flex;
  gap: 2rem;
}
.hero {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.services {
  padding: 5em;
  width: 80%;
  margin: auto;
  background: #fff;
  border-radius: 1rem;
  position: relative;
}
.services h2 {
  color: #111;
}
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.card {
  flex: 1 1 30rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 1rem;
  background: rgb(40, 44, 52);
}
.card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.card-title h3 {
  font-size: 2rem;
  order: 1;
  color: rgba(255, 255, 255, 0.8);
}
.card-title i {
  font-size: 1.6rem;
  order: 2;
  color: #4169e1;
}
.card-desc {
  padding: 1em 0;
}
.card-desc > p {
  color: rgba(255, 255, 255, 0.5);
}
.card-pricing p {
  font-weight: bold;
  color: #fff;
  letter-spacing: 0.1rem;
}
.faq {
  width: 80%;
  margin: auto;
  padding: 5em;
  background: linear-gradient(to top, #4169e1, #483d8b);
  border-radius: 1rem;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
details {
  transition: all 0.5s ease-in-out;
}
summary {
  padding: 1em;
  color: #fff;
  background: rgb(40, 44, 52);
  border-radius: 1rem;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  order: 1;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
}
details summary::-webkit-details-marker {
  order: 2;
  color: #4169e1;
}
.faq-desc {
  background: #fff;
  color: #111;
  padding: 2em;
  border-radius: 1rem;
  animation: sweep 0.3s linear forwards;
}
@keyframes sweep {
  from {
    transform: translateY(-0.5rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
footer {
  background: rgb(40, 44, 52);
  padding: 5em;
  display: grid;
  grid-template-rows: repeat(2, auto);
}
.contacts {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}
address {
  font-style: normal;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.7;
}
address a {
  color: inherit;
}
.location {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.location li,
.sm li {
  display: flex;
  position: relative;
  align-items: center;
  gap: 2rem;
}
.location li::before {
  font-family: 'iconmonstr-iconic-font';
  color: #4169e1;
  font-size: 2rem;
  -webkit-text-stroke: 0.05rem #fff;
  text-shadow: 0 0 0.2rem lightblue;
}
.location li:first-of-type::before {
  content: '\e068';
}
.location li:nth-of-type(2)::before {
  content: '\e047';
  padding-top: 0.15em;
}
.location li:last-of-type {
  letter-spacing: 0.15rem;
}
.location li:last-of-type::before {
  content: '\e06c';
  padding-top: 0.1em;
}
.sm li {
  padding: 0.5em;
}
.sm a {
  color: rgba(255, 255, 255, 0.5);
}
.sm li::before {
  font-family: 'iconmonstr-iconic-font';
  font-size: 2rem;
  color: rgb(255, 255, 255, 0.5);
}
.sm li:first-of-type::before {
  content: '\e0b6';
}
.sm li:nth-of-type(2)::before {
  content: '\e0a5';
}
.sm li:nth-of-type(3)::before {
  content: '\e0b8';
}
.sm li:last-of-type::before {
  content: '\e0a7';
}
.sm li:hover::before {
  color: #fff;
  animation: bounce 0.3s ease-out forwards;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-0.5rem);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0) scale(1.25);
  }
}
.sm li:hover a {
  color: #fff;
}
.legal {
  text-align: center;
  border-radius: 1rem;
  padding-top: 2em;
}
.legal p {
  color: #fff;
}
.customer-form {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form-title {
  text-align: center;
  padding-bottom: 2em;
}
.form-title h2 {
  font-size: 3rem;
  color: #111;
  word-spacing: -0.5rem;
  line-height: 1.7;
}
.form-title p {
  color: rgba(0, 0, 0, 0.5);
}
.form {
  background: #fff;
  width: 50rem;
  max-width: 100%;
  padding: 2em;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}
.form-control {
  height: 4.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2rem;
}
.form-control input {
  height: 100%;
  width: 100%;
  border-radius: 0.3rem;
  border: none;
  outline: none;
  font-size: 1.6rem;
  padding: 0 1em;
  border: 0.1rem solid lightgray;
  letter-spacing: 0.05rem;
  font-family: 'Roboto Mono', sans-serif;
}
.form-control input,
textarea {
  word-spacing: -0.2rem;
}
.form-control input:focus,
.form-control input:not(:placeholder-shown),
textarea:focus,
textarea:not(:placeholder-shown) {
  border: 0.2rem solid #4169e1;
}
.form-control label {
  position: absolute;
  display: inline-block;
  padding-left: 1em;
  transition: all 0.1s;
}
.form-control input:focus + label,
.form-control input:not(:placeholder-shown) + label {
  transform: translateY(-2.3rem);
  font-size: 1.2rem;
  font-weight: 600;
  background: #fff;
  padding: 0.1em 0.4em;
  margin-left: 1rem;
  letter-spacing: 0.1rem;
  color: #4169e1;
}
textarea {
  width: 100%;
  min-height: 15rem;
  resize: none;
  border-radius: 0.3rem;
  border: 0.1rem solid lightgray;
  outline: none;
  padding: 1em;
  font-size: 2rem;
}
.submit-btn {
  margin-top: 2rem;
  position: relative;
  height: 4.5rem;
  background: rgb(40, 44, 52);
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  color: #fff;
  border-radius: 0.3rem;
  overflow: hidden;
}
.submit-btn input {
  height: 100%;
  border: none;
  outline: none;
  display: inline-block;
  background: rgb(40, 44, 52);
  color: #fff;
  font-size: 1.6rem;
  padding-left: 1em;
  cursor: pointer;
  font-family: 'Roboto Mono', sans-serif;
  word-spacing: -0.4rem;
  font-weight: 500;
}
.submit-btn:hover,
.submit-btn:hover input {
  background: #4169e1;
}
.submit-btn label {
  padding: 0.75em;
  cursor: pointer;
}
.submit-btn svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: #fff;
}
@media only screen and (max-width: 65em) {
  .nav {
    justify-content: space-between;
  }
  aside {
    padding: 2.5em;
  }
  .nav-links li {
    margin-left: 3rem;
  }
}
@media only screen and (max-width: 48em) {
  .title-heading {
    margin-bottom: 2rem;
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3em;
    z-index: 100000;
    transition: all 0.5s ease-in-out;
  }
  header.sticky {
    padding: 1.75em;
    background: #4169e1;
    color: #282c34;
  }
  header.sticky > a {
    color: #fff;
  }
  .logo.active {
    color: #fff;
  }
  .menu-btn {
    position: relative;
    width: 3rem;
    height: 3rem;
  }
  .menu {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0.3rem;
  }
  .menu-btn svg {
    width: 1.6rem;
    height: 1.6rem;
  }
  .close {
    display: none;
  }
  .menu-btn.active .hamburger {
    display: none;
  }
  .menu-btn.active svg {
    fill: #fff;
  }
  .menu-btn.active .close {
    display: flex;
    background: rgb(40, 44, 52);
  }
  aside {
    transform: translateX(100%);
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0;
    backdrop-filter: blur(1rem);
    z-index: 10000;
    transition: none;
  }
  aside.active {
    transform: translateX(0);
  }
  aside.sticky {
    padding: 0;
    background: transparent;
  }
  .nav {
    display: unset;
    align-items: unset;
    justify-content: unset;
    text-align: left;
  }
  .nav > a {
    display: none;
  }
  .nav-links {
    flex-direction: column;
    background: #4169e1;
    height: 100vh;
    justify-content: center;
  }
  .nav-links li {
    margin: 0;
  }
  .nav-links a {
    display: block;
    padding: 1em;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  .nav-links li:hover a {
    background: rgb(40, 44, 52);
    color: rgb(0, 156, 255);
  }
  .introduction {
    padding: 2em;
  }
  .services {
    padding: 2em;
    width: 100%;
  }
  .cta {
    padding-top: 1em;
    display: inline-flex;
    gap: 1rem;
  }
  .btn {
    padding: 0.75em 0.8em;
    font-size: 1.4rem;
    font-weight: bold;
    word-spacing: -0.2rem;
  }
  .content h1 {
    font-size: 2.5rem;
  }
  .faq {
    width: 100%;
    padding: 2em;
  }
  details summary::-webkit-details-marker {
    display: none;
  }
  summary {
    font-size: 1.4rem;
    word-spacing: -0.2rem;
  }
  .faq-desc {
    padding: 1.5em;
    font-size: 1.4rem;
  }
  footer {
    padding: 2em;
  }
  .contacts {
    line-height: 1.2;
    justify-content: center;
  }
  .location {
    gap: 1rem;
  }
}
@media only screen and (max-width: 22.5em) {
  .logo {
    color: #111;
  }
  .services,
  .faq,
  footer {
    padding: 1em;
  }
  .title-heading {
    margin-bottom: 1rem;
  }
  .cta {
    display: flex;
    flex-direction: column;
  }
  address {
    word-break: break-all;
  }
  .location li {
    gap: 1.5rem;
  }
  .location li::before {
  }
}
